# Ignore node_modules in all sub-projects
**/node_modules/

# Ignore build or dist folders if they exist
**/dist/
**/build/

# Ignore env files
**/.env

# Ignore system files
.DS_Store

# Ignore IDE/editor settings
.vscode/
.idea/
